<main class="p-5">
    <p>
        lesons
    </p>

    <section id-="css0">
        Підключення CSS
Як можна підключати
CSS до коду HTML?
У нас є 4 варіанта як можна додати CSS код до певного тегу
VM ЧереS окремий CSS фай5
PM ЧереS тег <styl72
RM ЧереS атрибут styl6
1M ЧереS JavaSc3ipt
Через окремий файл
Для того, щоб додати CSS файл, потрібно його підключити
<head>

 <link rel="stylesheet" type="text/css" href="styles.css"> 
</head>
Q Підключати CSS файли потрібно обов’язково у тег <head>
Q Властивості у підключених CSS файлах, додаються до тегів
відповідно до їх послідовності підключення в HTML файлі
Правопис селектора
h1 {
 }
color : red
вказуємо 
наш селектор
відкриваємо список
властивостей
закриваємо список
властивостей
; назва властивості
 вказуємо, що починаємо  
 писати значення
значення властивості
вказуємо, що завершили
писати значення
Через тег
Для того, щоб додати CSS код до конкретного HTML документа,  
потрібно писати CSS код в спеціальному тегу <style>
<style>

 h1 {

 color: red;

 }

</style>
Через атрибут
Для того, щоб додати CSS код до конкретного тегу,  
потрібно використовувати спеціальний атрибут style
<div style=”color: blue;”> 
 Текст з блакитним кольором 
</div>
Normalize.css
Normalize.css — це файл CSS, який забезпечує
кросбраузерність стилів та видаляє непотрібні нативні стилі
Також інколи такий CSS файл називають Reset.css
Репозіторій з кодом
Для того, щоб підключити Normalize.css, вам потрібно перейти в
репозиторій до уроку та завантажити файл у свій локальний
проєкт
https://github.com/it-brains-ua/css
Ваше домашнє
завдання
Написати певний код відповідно до ТЗ, 
а також виконати тести в дописі до уроку
    </section>

<section id="css1" class="mb-5">

    Селектори. 1 частина
Репозіторій з кодом
Ви можете використовувати новий проєкт для практики CSS,
або писати новий код в будь-якому наявному проєкті
https://github.com/it-brains-ua/css
Глобальний селектор
Глобальний селектор — це селектор, який вибирає всі теги  
на сторінці.
* { 
 color: red; 
}
Він може бути використаний для стилізації всього вмісту
сторінки або для задання однакових стилів для всіх  
елементів на сторінці.
Використання універсального селектора може навантажувати
сторінку, адже він надає стилі для всіх тегів одночасно
Root селектор
Root селектор — це селектор, який вибирає абстрактний
кореневий тег, в якому знаходиться вже інший HTML код
:root { 
 background: red; 
}
Cелектор тегу
Селектор тегу — це селектор, який надає стилі для певного тегу,
який використовується у будь-якому місці HTML документа
Якщо вказаний тег в HTML документі дублюється, то стилі
будуть надані для всіх тегів, які відповідають селектору
h1 { 
 background: red; 
}
Cелектор класу
Селектор класу — це селектор, який надає стилі для всіх тегів,  
які мають певний клас, який був вказаний у селекторі  
Селектор класу починається з крапки (".") і за ним слідує ім'я


В HTML для встановлення класу потрібно вказати атрибут class
.<class_name> { 
 background: red; 
}
.box { 
 background: red; 
}
Селектор
ідентифікатора
Селектор ідентифікатора — це селектор, який надає стилі для
всіх тегів, які мають певний ідентифікатор, який був вказаний у
селекторі  
Селектор класу починається з решітки ("#") і за ним слідує ім'я  
В HTML для встановлення ідентифікатора потрібно вказати
атрибут id
#<id_name> { 
 background: red; 
}
#user { 
 background: red; 
}
Використання
декількох селекторів
У CSS є можливість використовувати декілька селекторів, до
яких треба надати певний набір CSS властивостей
Для цього слід вказати селектори через кому (“,”)
h1, .box, #user { 
 background: red; 
}
Дочірній cелектор
Дочірній селектор — це селектор, який надає стилі для всіх
тегів, які є дочірніми тегами головного тегу
Для цього слід вказати знак більше (“>”), щоб показати  
відношення між батьківським та дочірнім тегом
parent > children { 
 color: red; 
}
section > h1 { 
 color: red; 
}
Селектор нащадка
Селектор нащадка — це селектор, який надає стилі для всіх
тегів, які є нащадками головного тегу
Для цього вкажіть у селекторі через пробіл розташування тегу,
або ви можете вказати два рази знак більше (“>>”)
section .box span { 
 color: red; 
}
section >> .box >> span { 
 color: red; 
}
Сестринський
селектор
Сестринський селектор — це селектор, який надає стилі  
для сестринського тегу, який йде одразу після основного тегу
Для цього слід вказати плюс (“+”), щоб показати  
відношення між основним тегом та сестринським тегом
h1 + p { 
 color: red; 
}
Сусідський селектор
Сусідський селектор — це селектор, який надає стилі  
для всіх сусідніх тегів, які йдуть після основного тегу
Для цього слід вказати тильду (“~”), щоб показати  
відношення між основним тегом та сусідніми тегами
h1 ~ p { 
 color: red; 
}
Ваше домашнє
завдання
Інформація про ваше домашнє завдання 
знаходиться в дописі до уроку
</section>





    <section id="css2">
        Селектори. 2 частина
        Селектор  
        першої дитини
        Селектор першої дитини — це селектор, який вибирає перший
        тег, якщо він є першою дитиною всередині батьківського тегу
        <ul>


            <li>Item 2</li>

            <li>Item 3</li>

        </ul>
        <li>Item 1</li>

        li:first-child { 
        color: blue; 
        }
        :first-child
        Що таке селектор 
        псевдоклас?
        Селектор псевдоклас — це ключове слово, додане до
        звичайного селектора, яке визначає його особливий стан  
        Селектор псевдокласу додається через двокрапку (":")
        Селектор  
        останньої дитини
        Селектор останньої дитини — це селектор, який вибирає останній
        тег, якщо він є останньою дитиною всередині батьківського тегу
        <ul>

            <li>Item 1</li>

            <li>Item 2</li>


        </ul>
        <li>Item 3</li>

        li:last-child { 
        color: blue; 
        }
        :last-child
        Селектор  
        одиничної дитини
        Селектор одиничної дитини — це селектор, який вибирає тег,
        якщо він є єдиною дитиною всередині батьківського тегу, і після
        нього більше не існує інших дитячих тегів
        <ul>


        </ul>
        <li>Item 1</li>

        li:only-child { 
        color: blue; 
        }
        :only-child
        Селектор  
        першого типу
        Селектор першого типу — це селектор, який вибирає перший
        елемент по заданому тегу серед своїх сусідських тегів
        <div>

            <b>First</b>


            <p>Second</p> 
            <b>Second</b>

        </div>
        <p>First</p>

        p:first-of-type {

        color: blue;

        }
        :first-of-type
        Селектор  
        останього типу
        Селектор останнього типу — це селектор, який вибирає останній
        елемент по заданому тегу серед своїх сусідських тегів
        <div>

            <b>First</b>

            <p>First</p>


            <b>Second</b>

        </div>
        <p>Second</p> 
        p:last-of-type {

        color: blue;

        }
        :last-of-type
        Селектор  
        одиничного типу
        Селектор одиничного типу — це селектор, який вибирає елемент
        по заданому тегу, якщо він є єдиним таким тегом серед сусідів
        <div>

            <b>First</b>


            <b>Second</b>

        </div>
        <p>First</p> 
        p:only-of-type {

        color: blue;

        }
        :only-of-type
        Селектор  
        порядкової дитини
        Селектор порядкової дитини — це селектор, який обирає
        елементи на основі їхньої позиції в батьківському елементі  
        Для цього треба вказати індекс ( ) серед його братів і сестер. n
        <div>

            <p>1</p>


            <p>3</p>

        </div>
        <p>2</p> 
        p:nth-child( ) 2 {

        color: blue;

        }
        :nth-child( ) n
        Селектор  
        порядкової дитини
        Що можна вписувати в index ( ) n
        @ числа (1, 2, 3) — обирають елементи,  
        які є першим, другим, третім тощо
        @ even — обирає парні елементи
        @ odd — обирає непарні елементи
        @ формули (3 +1) — обирає елементи по формулі,  
        в якій — змінна з порядковим номером елемента
        n
        n
        Селектор зворотної 
        порядкової дитини
        Селектор зворотної порядкової дитини — це селектор, який
        обирає елементи на основі їхньої позиції в батьківському
        елементі, але підрахунок веде з кінця  
        Для цього треба вказати індекс ( ) серед його братів і сестер. n
        <div>

            <p>1</p>


            <p>3</p> 
            <p>4</p>

        </div>
        <p>2</p> 
        p:nth-last-child( ) 3 {

        color: blue;

        }
        :nth-last-child( ) n
        Селектор  
        порядкового типу
        Селектор порядкового типу — це селектор, який обирає
        елементи на основі їхньої позиції в батьківському елементі та
        типу тегу по аналогії як інші селектори типу   
        Для цього треба вказати індекс ( ) серед його братів і сестер,  
        які мають спільний тип тегу
        n
        <div>

            <p>1</p>

            <b>2</b> 

            <p>4</p>

        </div>
        <p>3</p> 
        p:nth-of-type( ) 2 {

        color: blue;

        }
        :nth-of-type( ) n
        Селектор зворотного 
        порядкового типу
        Селектор зворотного порядкового типу — це селектор, який
        обирає елементи на основі їхньої позиції в батьківському
        елементі та типу тегу, але підрахунок веде з кінця   
        Для цього треба вказати індекс ( ) серед його братів і сестер,  
        які мають спільний тип тегу
        n
        <div>


            <b>2</b> 

            <b>4</b>

        </div>
        <p>1</p>

        <p>3</p> 
        p:nth-last-of-type( ) 2 {

        color: blue;

        }
        :nth-last-of-type( ) n
        Селектор
        невідповідності
        Селектор невідповідності — це селектор, який обирає
        елементи, які не відповідають вказаним селекторам  
        Для цього треба вказати в ( ) ті селектори,  
        які не повинні відповідати до елемента
        s
        <div>


            <p class="big">2</p>

        </div>
        <p>1</p>

        p:not( ) .big {

        color: blue;

        }
        :not( ) s
        Селектор пустого
        контенту
        Селектор пустого контенту — це селектор, який обирає
        елементи, які не мають всередині контенту чи тегів
        <div>


            <p>Text</p>

        </div>
        <p></p>

        p:empty {

        color: blue;

        }
        :empty
        Ваше домашнє
        завдання
        Інформація про ваше домашнє завдання 
        знаходиться в дописі до уроку
    </section>





</main>