
{{>breadcrumb data=navigation.links }}

<h1>{{header}}</h1>

{{#with purchase}}

{{!-- tabs  --}}
<div>
<ul class="nav nav-tabs">
  {{#each tabs}}
  <li class="nav-item">
    <a class="nav-link {{#if @first}}active{{/if}}" aria-current="page" href="#">{{this}}</a>
  </li>
  {{/each}}
</ul>
</div>


actionBlock



    {{#each buttons}}
        {{>btn data=buttons }}
    {{/each}}


{{/with}}