{{#each data}}

{{#if isSuccess}}
<button class="btn btn-success text-light m-2">{{text}}</button><br>
{{/if}}

{{#if isPrimary}}
<button class="btn btn{{#if isOutline}}-outline{{/if}}-primary m-2">{{text}}</button><br>
{{/if}}

{{#if isDanger}}
<button class="btn btn-danger m-2">{{text}}</button><br>
{{/if}}

{{#if isInfo}}
<button class="btn btn-info text-light m-2">{{text}}</button><br>
{{/if}}

{{/each}}