<nav class="p-5">
    {{> link text="CSS-0" href="/lesons/#css0" line=true }}
    {{> link text="CSS-1" href="/lesons/#css1" line=true }}
    {{> link text="CSS-2" href="/lesons/#css2" line=true }}

</nav>