{{!-- {{#each buttons}} --}}
<div class="card col-4 mb-3 p-3">
  <div class="card-text">
    {{#each contactData}}
    <b>{{title}}</b><br>
    {{value}}<br> = {{@index}}
    {{>btn data=../buttons.[{{@index}}]}} так не работает
    {{>btn data=../buttons.[0]}}
    {{/each}}
  </div>
</div>
{{!-- {{/each}} --}}